/* General Styles */

body, html {
    font-family: 'Crimson Pro', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: auto;  *//* Prevent scrolling if not needed */
    
}
/* Make sure the navbar is positioned relative */
.navbar {
    position: relative;
    margin-bottom: 20px;
}

/* Center the logo absolutely within the navbar */
#logo {
    position: absolute;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Adjust for exact center */
}

.nav-link
{
    color: black;
}
.nav-link:hover
{
    color: white;
}

.intro-container {
    text-align: center;
    padding: 150px;
    margin: 100px auto;
    max-width: 80%;
    background-color: #f5f5f5;
    border-radius: 10px;
    
}

.proceed-button {
    background-color: #f1563b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.proceed-button:hover {
    background-color: #e0452a;
}
#questionnaire-body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #f1563b, #f5d6be);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* Allow absolute positioning of floating ghosts */
}

#love-ghost {
    width: 90px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 10px; /* Position at the top */
    right: 10px; /* Position at the right */
}
#fear-ghost {
    width: 120px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    bottom:  5px; /* Position at the top */
    left: 5px; /* Position at the right */
    z-index: 5;
}
/* Floating Ghosts */
/* Ensure the ghosts are positioned and have a higher z-index */

.ghost {
    position: absolute;
    z-index: 10;
    width: 150px; /* Default width */
    height: auto; /* Maintain aspect ratio */
}


.ghost-top-left {
    top: 90px;
    left: 100px;
    width: 220px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
}

.ghost-top-right {
    top: 200px;
    right: 200px;
    width: 200px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
}
.ghost-top-right-2 {
    top: 100px;
    right: 100px;
    width: 150px; /* Adjust size as needed */
    height: 190px; /* Adjust size as needed */
}
.popup-content
{
    z-index: 100;
}
.ghost-bottom-left {
    bottom: 20%;
    left: 220px;
    width: 200px; /* Adjust size as needed */
    height: 260px; /* Adjust size as needed */
}

.ghost-bottom-right {
    bottom: 10px;
    right: 10px;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}


/* Popup Styles */
.popup {
    position: fixed;
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    display: none; /* Hidden by default */
    overflow-y: auto;
    z-index: 20;
    font-family: 'Crimson Pro', serif;
    font-size: larger;
}

.popup-content {
    background-color: #fff;
    margin: auto;
    padding: 80px;
    border: 1px solid #888;
    width: 100%; /* Adjust the size as necessary */
    max-width: 900px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure the button stacks vertically */
    align-items: center; /* Center the button horizontally */
    justify-content: center; /* Center the button vertically */
}

#submit-button {
   
        margin-top: 20px; /* Optional: adds some space above the button */
        background-color: #f1563b;
        color: white;
        border: none;
        border-radius: 16px;
        padding: 10px;
        cursor: pointer; /* Optional: Changes the cursor to a pointer */
        width: 20%;
    
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust this value to move the button down or up */
    left: 10px; /* Adjust this value to move the button left or right */
    margin: 0; /* Remove any default margin */
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Question Buttons Grid */
.question-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
    gap: 40px;
    justify-items: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
    position: relative; /* Allow buttons to be positioned absolutely */
}
#popup-submit
{
    text-align: center;
    
}
button {
    background: none;
    border: none;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}

/* Button sizes and positions */
#button-1 {
    background-image: url('numberOne.png');
    width: 75px;
    height: 75px;
    grid-column: 2;
    transform: translateY(-10px);
}

#button-2 {
    background-image: url('numberTwo.png');
    width: 90px;
    height: 90px;
    grid-column: 1;
    grid-row: 2;
    transform: translateY(-10px);
}

#button-5 {
    background-image: url('numberFive.png');
    width: 200px;
    height: 200px; 
    grid-column: 3;
    grid-row: 4;
    transform: translateY(-40px);
}

#button-4 {
    background-image: url('numberFour.png');
    width: 140px;
    height: 140px;
    grid-column: 3;
    grid-row: 2;
    transform: translateY(-30px);
}

#button-8 {
    background-image: url('numberEight.png');
    width: 220px;
    height: 220px;
    grid-column: 2;
    grid-row: 3;
    transform: translateY(-55px);
}

#button-6 {
    background-image: url('numberSix.png');
    width: 95px;
    height: 95px;
    grid-column: 2;
    grid-row: 2;
    transform: translate(-40px, -50px);
}

#button-7 {
    background-image: url('numberSeven.png');
    width: 205px;
    height: 205px;
    grid-column: 1;
    grid-row: 4;
    transform: translateY(-100px);
}

#button-3 {
    background-image: url('numberThree.png');
    width: 180px;
    height: 180px;
    grid-column: 2;
    grid-row: 4;
    transform: translateY(-20px);
}
.popup-content input[type="text"]
{
    width: 100%;
}

@media (max-width: 768px) {
    body,html
    {
        overflow: scroll;
    }
    
    .question-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 100px);
        gap: 20px;
        max-width: 500px;
        margin: 120px auto;
    }

    #button-1 {
        width: 60px;
        height: 60px;
        transform: translateY(-10px);
    }

    #button-2 {
        width: 75px;
        height: 75px;
        transform: translateY(-10px);
    }

    #button-5 {
        width: 150px;
        height: 150px;
        transform: translateY(-30px);
    }

    #button-4 {
        width: 150px;
        height: 150px;
    }

    #button-8 {
        width: 170px;
        height: 170px;
        transform: translateY(-40px);
    }

    #button-6 {
        width: 80px;
        height: 80px;
        transform: translate(-30px, -40px);
    }

    #button-7 {
        width: 180px;
        height: 180px;
        transform: translateY(-80px);
    }

    #button-3 {
        width: 120px;
        height: 120px;
        transform: translateY(-20px);
    }
    .ghost-top-left {
        top: 200px;
        left: 40px;
        width: 130px; /* Adjust size as needed */
        height: 120px; /* Adjust size as needed */
    }
    
    .ghost-top-right {
        top: 280px;
        right: 120px;
        width: 90px; /* Adjust size as needed */
        height: 200px; /* Adjust size as needed */
    }
    .ghost-top-right-2 {
        top: 160px;
        right: 120px;
        width: 80px; /* Adjust size as needed */
        height: 100px; /* Adjust size as needed */
    }
    
    .ghost-bottom-left {
        top: 45%;
        left: 180%;
        width: 120px; /* Adjust size as needed */
        height: 150px; /* Adjust size as needed */
    }
    
    .ghost-bottom-right {
        bottom: 10px;
        right: 10px;
        width: 100px; /* Adjust size as needed */
        height: 100px; /* Adjust size as needed */
    }
    
}

@media (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensure body covers full viewport height */
        margin: 0; /* Remove default margin */
    }
    .wrapper
    {
        flex: 1;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .intro-container {
        text-align: center;
        padding: 30px;
        margin: 100px auto;
        max-width: 80%;
        background-color: #f5f5f5;
        border-radius: 10px;
        z-index: 1000;
        
    }
    
    .proceed-button {
        background-color: #f1563b;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .proceed-button:hover {
        background-color: #e0452a;
    }
    .question-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
        gap: 10px;
        max-width: 500px;
        /* margin: 120px auto; */
        min-height: 100px;
        padding: 10px;
        
    }

    #button-1 {
        width: 50px;
        height: 50px;
    }

    #button-2 {
        width: 60px;
        height: 60px;
    }

    #button-5 {
        width: 120px;
        height: 120px;
        transform: translateY(-50px);
    }

    #button-4 {
        width: 120px;
        height: 120px;
        margin-right: 45px;
    }

    #button-8 {
        width: 130px;
        height: 140px;
    }

    #button-6 {
        width: 60px;
        height: 60px;
    }

    #button-7 {
        width: 180px;
        height: 180px;
    }

    #button-3 {
        width: 100px;
        height: 100px;
        transform: translateY(-10px);
    }
    .ghost-top-left {
        top: 220px;
        left: 40px;
        width: 98px; /* Adjust size as needed */
        height: 81px; /* Adjust size as needed */
    }
    
    .ghost-top-right-2 {
        top: 140px;
        right: 80px;
        width: 70px; /* Adjust size as needed */
        height: 70px; /* Adjust size as needed */
    }
    
    

}

@media (max-width : 1080px) {
    
    .question-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
        gap: 20px;
        max-width: 100%;
        /* margin: 120px auto; */
        min-height: 100px;
        padding: 10px;
        margin: 100px auto; 
    }
    .ghost-top-left {
        top: 170px;
        left: 40px;
        width: 150px; /* Adjust size as needed */
        height: 181px; /* Adjust size as needed */
    }
    
    .ghost-top-right-2 {
        top: 110px;
        right: 80px;
        width: 120px; /* Adjust size as needed */
        height: 170px; /* Adjust size as needed */
    }
}

@media (max-width: 455px) {
    .navbar {
        
        margin-bottom: 20px;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensure body covers full viewport height */
        margin: 0; /* Remove default margin */
        overflow-x: hidden; /* Prevent horizontal overflow */
    }

    .wrapper {
        flex: 1;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .question-buttons {
        display: grid; /* Ensure grid layout is applied */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 100px); /* Adjusted height for smaller screens */
        gap: 8px; /* Reduced gap for smaller screens */
        max-width: 100%; /* Ensure container does not exceed viewport width */
        padding: 8px;
        margin: 50px auto; /* Center container */
        box-sizing: border-box; /* Include padding and border in width/height calculations */
    }
    .popup-content
    {
        padding: 50px;
    }
    #button-1 {
        width: 40px; /* Reduced size */
        height: 40px; /* Reduced size */
    }

    #button-2 {
        width: 50px; /* Reduced size */
        height: 50px; /* Reduced size */
    }

    #button-5 {
        width: 100px; /* Reduced size */
        height: 100px; /* Reduced size */
        transform: translateY(-30px); /* Adjusted transform */
    }

    #button-4 {
        width: 100px; /* Reduced size */
        height: 100px; /* Reduced size */
        margin-right: 0; /* Removed margin-right to avoid overflow */
    }

    #button-8 {
        width: 120px; /* Reduced size */
        height: 130px; /* Reduced size */
    }

    #button-6 {
        width: 50px; /* Reduced size */
        height: 50px; /* Reduced size */
    }

    #button-7 {
        width: 140px; /* Reduced size */
        height: 140px; /* Reduced size */
    }

    #button-3 {
        width: 80px; /* Reduced size */
        height: 80px; /* Reduced size */
        transform: translateY(-5px); /* Adjusted transform */
    }

    .ghost-top-left {
        top: 130px; /* Adjusted position */
        left: 30px; /* Adjusted position to fit better */
        width: 110px; /* Reduced size */
        height: 120px; /* Reduced size */
        transform: rotate(-15deg); /* Equal to rotateZ(45deg) */
    }

    .ghost-top-right-2 {
        top: 140px; /* Adjusted position */
        right: 10px; /* Adjusted position */
        width: 70px; /* Reduced size */
        height: 70px; /* Reduced size */
    }
    #submit-button{
        width: 50%;
        margin: 20px auto;
    }
}















/* NETWORKING BINGO */
/* General Styles for the Bingo Grid */
.networkingBingo-body
{
    background: linear-gradient(to bottom, #f1563b94, #f5d6be);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}
.bingo-content {
    padding: 6rem;
    margin: auto;
    max-width: 100%;
}


.bingo-grid {
    display: grid;
    gap: 0.5rem; /* Space between cells */
    grid-template-columns: repeat(5, 1fr); /* Default 5 columns */
    width: 100%;
}


.bingo-cell {
    display: flex; /* Flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 0.5rem;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.1); /* Optional: background color for better readability */
    min-height: 150px; /* Ensure a minimum height for cells */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.bingo-cell label {
    display: block;
    font-weight: bold;
}


.bingo-cell input[type="text"] {
    width: calc(100% - 20px); /* Adjust width considering padding */
    padding: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box; /* Ensure padding and border are included in width */
    height: 2rem; /* Set a consistent height for inputs */
    line-height: 2rem; /* Vertically center text */
}
.ghost-top-right-bingo {
    position: fixed; /* Fixes the element in place relative to the viewport */
    top: 105px; /* Distance from the top of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for the element's width to truly center it */
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}
.modal-footer .btn-custom  {
    color: white;
    background-color: #f1563b;
}
.modal-footer {
    display: flex;
    justify-content: center; /* Center button horizontally */
    border-top: none; /* Remove border if not needed */
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .bingo-grid {
        grid-template-columns: repeat(4, 1fr); /* Four columns for medium screens */
    }
}


@media (max-width: 768px) {
    .bingo-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns for smaller screens */
    }
}


@media (max-width: 576px) {
    
    .bingo-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns for very small screens */
    }
   
    .ghost-top-right-bingo {
        position: fixed; /* Fixes the element in place relative to the viewport */
        top: 125px; /* Distance from the top of the viewport */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for the element's width to truly center it */
        width: 60px; /* Adjust size as needed */
        height: 60px; /* Adjust size as needed */
    }
}


@media (max-width: 400px) {
    .bingo-grid {
        grid-template-columns: 1fr; /* Single column for the smallest screens */
    }
}









/* Modal CSS */
.modal-content {
    background-color: black; /* Background color of the modal content */
    margin: 15% auto; /* Center the modal content */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjust the width to suit your needs */
    max-width: 500px; /* Set a maximum width */
    position: relative;
    z-index: 5001; /* Make sure it stays on top */
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    text-align: center;
    z-index: 5000;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submitCode {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.submitCode:hover {
    background-color: #45a049;
}








