body {
    font-family: 'Crimson Pro', serif;
   
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#main-title {
    text-align: center;
    padding: 20px;
    font-family: 'Crimson Pro', serif;
    color: #f1563b;
    
    
}
.navbar {
    position: relative;
    margin-bottom: 20px;
}
#logo {
    position: absolute;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Adjust for exact center */
}
.nav-link
{
    color: black;
}

#perp-submit
{
    background-color: black;
    color: white;
}
#perp-body
{
    background-color: #f1563b13;
}
.form-section {
    display: none;
    padding: 40px;
    border: 1px solid #f1563b6b;
    background-color: #f1563b07;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Crimson Pro', serif;
    
}
.form-section h2{
    text-align: center;
    font-weight: bolder;
}
.form-section.active {
    display: block;
}

.form-navigation {
    margin: 20px 0;
    text-align: center;
    font-family: 'Crimson Pro', serif;
}

.btn {
    margin: 0 10px;
    
}
#prevBtn
{
    color: #f1563b;
    background-color: white;
    width: 10%;
    font-size: larger;
}
#nextBtn
{
    background-color: #f1563b;
    color: white;
    width: 10%;
    font-size: larger;
}
.form-submit {
    text-align: center;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: 40px;
    margin-right: 10px;
}
fieldset {
    font-size: larger;
}
h4{
    margin-bottom: 50px;
}
@media(max-width: 576px)
{
    #prevBtn
{
    color: #f1563b;
    background-color: white;
    width: 20%;
    font-size: larger;
}
#nextBtn
{
    background-color: #f1563b;
    color: white;
    width: 20%;
    font-size: larger;
}
}




.modal-content {
    background-color: black; /* Background color of the modal content */
    margin: 15% auto; /* Center the modal content */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjust the width to suit your needs */
    max-width: 500px; /* Set a maximum width */
    position: relative;
    z-index: 5001; /* Make sure it stays on top */
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    text-align: center;
    z-index: 5000;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submitCode {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.submitCode:hover {
    background-color: #45a049;
}
